<div class="character-info-container">
  <section>
    <button [routerLink]="['/home']">Back to home</button>
  </section>

  <article class="character-info-card">
    <header class="details-header">
      <h2>{{ character.name }}</h2>
      <img [src]="character.image" [alt]="character.name">
    </header>

    <section class="details-box">
      <div class="detail-item">
        <h3>Status</h3>
        <p>{{ character.status }}</p>
      </div>

      <div class="detail-item">
        <h3>Species</h3>
        <p>{{ character.species }}</p>
      </div>

      <div class="detail-item">
        <h3>Gender</h3>
        <p>{{ character.gender }}</p>
      </div>
    </section>

    <section class="details-rectangle" *ngIf="character.type">
      <h3>Type</h3>
      <p>{{ character.type }}</p>
    </section>

    <section class="details-rectangle">
      <h3>Origin</h3>
      <p>{{ character.origin.name }}</p>
    </section>

    <section class="details-rectangle">
      <h3>Location</h3>
      <p>{{ character.location.name }}</p>
    </section>
  </article>

  <section class="episodes-container">
    <h3>Episodes</h3>
    <ng-container *ngFor="let ep of episodes">
      <div class="episode-item">
        <h4>{{ ep.episode }}</h4>
        <p>{{ ep.name }}</p>
        <p>{{ ep.air_date }}</p>        
      </div>
    </ng-container>
  </section>
</div>
