@import '../../../styles/styles';

.search-container {
  @include flex-center-wrap ;
  gap: 2rem;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
 
  select {
    @include input-style;
  }

  input {
    @include input-style;
    width: 240px;
  }
}
