@import '../../../styles/styles';
@import '../../../styles/typography';

.character-details-container {
  @extend .container;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }

  .details-header {
      h2 {
        @include creepster-title-style;
        text-align: left; 
      }

      @media (max-width: $breakpoint-sm) {
        text-align: center;
      }
  }
}
