<section class="character-details-container">
  <ng-container *ngIf="isLoading$ | async; else content">
    <app-vortex-loading [width]="500" [height]="500"></app-vortex-loading>
  </ng-container>
  <ng-template #content>
    <article *ngIf="character">
      <header>
        <h1>Details</h1>
      </header>
      <app-character-info [character]="character" [episodes]="episodes"></app-character-info>
    </article>

    <section *ngIf="!character">
      <app-generic-feedback [config]="{ title: 'Character not found', message: 'The character you are looking for does not exist.' }"></app-generic-feedback>
    </section>
  </ng-template>
</section>
