@import '../../../styles/styles';
@import '../../../styles/typography';

.details-container {
  @extend .container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  @media (max-width: $breakpoint-sm) {
  flex-direction: column;
  }

  .details-header {
    width: 100%;
      h2 {
        @include creepster-title-style;
        text-align: left;
      }

      @media (max-width: $breakpoint-sm) {
        text-align: center;
      }
  }
}
