$lime-green-color: #B2DF28;
$mint-green-color: #05F29B;
$skyline-blue-color: #00B5CC;
$bright-blue-color: #007BFF;
$deep-sea-blue-color: #193840;
$dark-gray-color: #343a40;
$color-core-foreground: #0A0A0A;
$color-core-background: #1F1F1F;
$color-neutral-border: #3D3D3D; 
$color-core-content-low: #A4A4A4;
$grayish-white-text-color: #CACACA; 
$text-white-color: #fff;
