$primary-color: #B2DF28;
$third-color: #00B5CC;

$text-color: #343a40;
$color-core-foreground: #0A0A0A;
$color-core-background: #1F1F1F;
$color-neutral-border: #3D3D3D; 
$color-core-content-low: #A4A4A4;
$text-white: #CACACA;

// Fonts
$font-family-base: 'Poppins';
$font-family-alt: 'Creepster';

// Spacing
$spacing-unit: 1rem;
