// Colors
$primary-color: #00B5CC;
$secondary-color: #B2DF28;
$header-background-color: #3D3D3D;
$font-family-base: 'Poppins', sans-serif;
$font-creepster: 'Creepster', sans-serif;
$text-shadow:  
-1px -1px 0 $secondary-color,
1px -1px 0 $secondary-color,
-1px 1px 0 $secondary-color,
1px 1px 0 $secondary-color,
-2px -2px 0 $secondary-color,
2px -2px 0 $secondary-color,
-2px 2px 0 $secondary-color,
2px 2px 0 $secondary-color;
$spacing-unit: 1rem;
