.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    button {
      background-color: #B2DF28;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      margin: 0 10px;
  
      &:disabled {
        background-color: #d6d6d6;
        cursor: not-allowed;
      }
    }
  
    span {
      font-size: 1.2rem;
    }
  }
  