<nav class="pagination" aria-label="Pagination"  *ngIf="totalPages > 1"  >
  <button 
    (click)="changePage(currentPage - 1)" 
    [attr.aria-disabled]="currentPage === 1 ? 'true' : 'false'"
    [disabled]="currentPage === 1" 
    aria-label="Previous page">
    Previous
  </button>
  <span class="page-info">
    Page {{ currentPage }} of {{ totalPages }}
  </span>
  <button 
    (click)="changePage(currentPage + 1)" 
    [attr.aria-disabled]="currentPage === totalPages ? 'true' : 'false'"
    [disabled]="currentPage === totalPages" 
    aria-label="Next page">
    Next
  </button>
</nav>
