@import '../../../styles/styles';

.feedback-container {
  text-align: center;
  padding: 2rem;
  background-color: $color-core-foreground;
  color: white;
  @include border-radius(8px);
  margin-top: 2rem;
  width: 100%  ;
  height: 511px;
  border-radius: 0.7rem;

  header {
    margin-bottom: 1rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $color-core-content-low;
  }

  .feedback-button {
    display: inline-block;
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    @include border-radius(4px);
    text-decoration: none;

    &:hover {
      background-color: $secondary-color;
      color: $text-color;
    }
  }
}
