@import '../../../styles/styles';

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2rem;
  background-color: $color-core-foreground;
  color: $text-white-color;
  @include border-radius(8px);
  margin-top: 2rem;
  height: 511px;
  border-radius: 0.7rem;

  header {
    h2 {
      font-size: 2rem;
      font-weight: 700;
      
    @media (max-width: $breakpoint-sm) {
      font-size: 1rem;
       }
    }
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $color-core-content-low;

    @media (max-width: $breakpoint-sm) {
      font-size: 1rem;
    }
  }

  .feedback-button {
    display: inline-block;
    background-color: $skyline-blue-color;
    color: $text-white-color;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    @include border-radius(4px);
    text-decoration: none;

    &:hover {
      background-color: $lime-green-color;
      color: $dark-gray-color;
    }
  }

  img {
    max-width: 50%;
    height: 50%;
    display: block;
    margin-top: 1rem;

    @media (max-width: $breakpoint-sm) {
      max-width: 60%;
    }
  }
}
