<section class="favorites-container">
  <header class="favorites-header">
    <h1 class="title">FAVORITES</h1>
  </header>
  
  <section class="favorites-search">
    <app-search (searchEvent)="onSearch($event)"></app-search>
  </section>
  
  <section class="favorites-list" *ngIf="!showFeedback; else feedbackTemplate">
    <app-characters-list [characters]="favoriteCharacters"></app-characters-list>
  </section>
  
  <ng-template #feedbackTemplate>
    <app-generic-feedback [config]="feedbackConfig"></app-generic-feedback>
  </ng-template>
</section>
