@import '../../../styles/styles';

.favorites-container {
  @extend .container;

  .favorites-header {
    @extend .section;
    .title {
        @include title-style;
        font-size: 3rem;
    }
  }

  .favorites-search,
  .favorites-list,
  .favorites-feedback {
    @extend .section;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      @extend .card;
    }
  }
}
