<section class="favorites-container">
  <header class="favorites-header">
    <h1 class="title">FAVORITES</h1>
  </header>
  
  <section class="favorites-search">
    <app-search (searchEvent)="onSearch($event)"></app-search>
  </section>
  
  <section class="favorites-list">
    <app-characters-list [characters]="favoriteCharacters"></app-characters-list>
  </section>
  
  <section class="favorites-feedback" *ngIf="showFeedback">
    <app-generic-feedback
    [config]="feedbackConfig">
  </app-generic-feedback>
  
  </section>
</section>