@import '../../../styles/styles.scss';

.character-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include border-radius(8px);
  border: 1px solid transparent;
  background-color: $color-core-foreground;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
  width: 285.5px; 
  position: relative;
  height: auto; 
  
  @include transition(transform 0.2s, box-shadow 0.2s);

  &:hover {
    transform: translateY(-5px);
    @include box-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    border: 2px solid $skyline-blue-color;
  }

  img {
    width: 100%;
    height: auto; 
    @include border-radius(8px 8px 0 0);
  }
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 1rem; 
  box-sizing: border-box; 
  height: auto; 
  
  background-image: url('/assets/gif/stars.jpeg'); 
  background-size: cover; 
  background-position: center;
  
  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0.3rem;
  

    h3 {
      @include font-creepster;
      color: $text-white-color;
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      @include paragraph-style;
      margin: 0;
      color: $grayish-white-text-color;
    }
  }
}

.favorite-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 2rem;
  background: none;
  border: none;
  z-index: 1;
  padding: 0.5rem;

  @include transition(transform 0.2s);
  border-bottom-left-radius: 100px;

  &:hover {
    transform: scale(1.2);
  }

  &:focus {
    outline: 2px solid $lime-green-color;
    outline-offset: 2px;
  }


}
