@import '../../../styles/styles';
@import '../../../styles/scrollbar';
@import '../../../styles/typography';

.home-container {
  @extend .container;

    .page-header {
    @extend .section;
    .title {
      @include creepster-title-style;
      @media (max-width: $breakpoint-sm) {
        text-align: center;
      }
    }
  }

  .search-section,
  .characters-section,
  .feedback-section {
    @extend .section;
    
  }

  .characters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      @extend .card;
    }
  }
}


