@import '../../../styles/styles';
@import '../../../styles/scrollbar';

.home-container {
  @extend .container;
    
  .page-header {
    @extend .section;
    .title {
      @include title-style;
      font-size: 3rem;
    }
  }

  .search-section,
  .characters-section,
  .feedback-section {
    @extend .section;
    
  }

  .characters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
      @extend .card;
    }
  }
}


