.characters-list {
    display: grid;
    grid-template-columns: repeat(3, 0fr); 
    gap: 5rem;
    width: 100%; 
    height: auto; /* Ajustar a altura automaticamente */
    opacity: 1; /* Opacidade completa */
  }
  