@import '../../../styles/styles';

.tabs {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #1e1e1e;

  .tab {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-right: 1px solid #444;
    background: none;
    border: none;
    outline: none;
    gap: 0.5rem;

    &:last-child {
      border-right: none;
    }

    &.active {
      background-color: white;
      color: black;

      .icon {
        color: black;
      }
    }

    .icon {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }

    .badge {
      background-color: #05F29B;
      color: $text-color;
      border-radius: 12px;
      padding: 3px 6px;
      margin-left: 4px;
    }
  }
}
