<footer class="footer">
  <div class="footer-content">

    <address class="footer-contact">
      <p>Created by Diego</p>
    </address>

    <div class="footer-bottom">
      <p>&copy; Mottu Frontend Challenge</p>
    </div>
    
    <nav class="footer-nav" aria-label="Footer Navigation">
      <ul class="footer-nav-list">
        <li class="footer-nav-item"><a routerLink="/home" class="footer-nav-link">Home</a></li>
        <li class="footer-nav-item"><a routerLink="/favorites" class="footer-nav-link">Favorites</a></li>
      </ul>
    </nav>
  </div>
</footer>
