@import '../../../styles//styles.scss';

footer {
  padding: 1rem;
  background-color: $color-core-foreground;
  color: $text-white-color;
  text-align: center;
  display: block;

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-nav {
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    a {
      color: $text-white-color;
      text-decoration: none;

      &:hover {
        color: $skyline-blue-color;
      }
    }
  }

  .footer-contact {
    margin-top: 1rem;

    @media (max-width: $breakpoint-sm) {
      margin-top: 0;
    }
  }

  .footer-social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: $breakpoint-sm) {
      margin-top: 0.5rem;
    }

    a {
      color: $text-white-color;
      font-size: 1.5rem;

      &:hover {
        color: lighten($text-white-color, 10%);
      }
    }
  }

  .footer-bottom {
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}