@import '../../../styles//styles.scss';

.floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: $skyline-blue-color;
    color: $text-white-color;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    outline: none;
  
    &.show {
      opacity: 1;
      visibility: visible;
    }
  
    &:focus,
    &:active {
      outline: none;
    }
  
    i {
      font-size: 24px;
    }
  }
  